<ion-app>
  <ion-menu sidemenu="start" menuId="mainMenu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item href="home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Principal</ion-label>
        </ion-item>
        <ion-item href="about">

          <ion-icon name="people-circle-outline"slot="start"></ion-icon>
          <ion-label>Quienes Somos</ion-label>
        </ion-item>
        <ion-item href="contactanos">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Contactanos</ion-label>
        </ion-item>
        <ion-item href="login">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
      </ion-list> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
<!--Menu Admin
  <ion-menu sidemenu="start" menuId="mainMenu" contentId="mainAdmin">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item href="home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Principal</ion-label>
        </ion-item>
        <ion-item href="about">

          <ion-icon name="people-circle-outline"slot="start"></ion-icon>
          <ion-label>Quienes Somos</ion-label>
        </ion-item>
        <ion-item href="contactanos">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Contactanos</ion-label>
        </ion-item>
        <ion-item href="login">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
      </ion-list> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainAdmin"></ion-router-outlet>

  <!--Main Gestor
  <ion-menu sidemenu="start" menuId="mainMenu" contentId="mainGestor">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item href="home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Principal</ion-label>
        </ion-item>
        <ion-item href="about">

          <ion-icon name="people-circle-outline"slot="start"></ion-icon>
          <ion-label>Quienes Somos</ion-label>
        </ion-item>
        <ion-item href="contactanos">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Contactanos</ion-label>
        </ion-item>
        <ion-item href="login">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
      </ion-list> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainGestor"></ion-router-outlet>

  <!--Main Usuario
  <ion-menu sidemenu="start" menuId="mainMenu" contentId="mainUsuario">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item href="home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Principal</ion-label>
        </ion-item>
        <ion-item href="about">

          <ion-icon name="people-circle-outline"slot="start"></ion-icon>
          <ion-label>Quienes Somos</ion-label>
        </ion-item>
        <ion-item href="contactanos">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Contactanos</ion-label>
        </ion-item>
        <ion-item href="login">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
      </ion-list> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainUsuario"></ion-router-outlet>
</ion-app>
-->